name: .NET Core

on:
  push:
    branches-ignore: [ master ]
    paths: 
      - 'apis/poi/**'
  pull_request:
    branches-ignore: [ master ]
    paths: 
      - 'apis/poi/**'

jobs:
  build:
    
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1
     
    - name: Install dependencies
      working-directory: apis/poi
      run: dotnet restore
    - name: Build
      working-directory: apis/poi
      run: dotnet build --configuration Release --no-restore
    - name: Test
      working-directory: apis/poi
      run: dotnet test --no-restore --verbosity normal
