name: CI
on: 
  push:
      paths: 
        - .github/workflows/runbash.yml
jobs:
  linux:
    name: Linux build on node ${{ matrix.node_version }}
    runs-on: ubuntu-latest
    

    steps:
    - name: Checkout
      uses: actions/checkout@v1


    - name: Moving build to artifacts directory
      run: ./scripts/moveFiles.sh
